:root {
  --accent-bg-color: #30a46c;
  --accent-color: #30a46c;
  --additional-logo-elements-font-family: "Open Sans", Helvetica, Arial,
    Verdana, sans-serif;
  --additional-logo-elements-font-size: 20px;
  --additional-logo-elements-icon-size: 0px;
  --additional-menu-elements-color: #ffffff;
  --additional-menu-elements-font-family: "Mulish", Helvetica, Arial,
    Verdana, sans-serif;
  --additional-menu-elements-font-size: 14px;
  --additional-menu-elements-font-weight: 600;
  --additional-menu-elements-icon-color: #30a46c;
  --additional-menu-elements-icon-size: 16px;
  --base-border-radius: 0px;
  --base-color: #666666;
  --base-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --base-font-size: 15px;
  --base-font-style: normal;
  --base-font-weight: normal;
  --base-line-height: 1.5em;
  --beautiful-loading-bg: #ffffff;
  --beautiful-spinner-color: #30a46c;
  --body-bg-attachment: fixed;
  --body-bg-color: #f5f5f5;
  --body-bg-image: none;
  --body-bg-position-x: center;
  --body-bg-position-y: center;
  --body-bg-repeat: no-repeat;
  --body-bg-size: cover;
  --border-radius-size: 0px;
  --bottom-bar-bottom-padding: 20px;
  --bottom-bar-height: 60px;
  --bottom-bar-line-size: 1px;
  --bottom-bar-menu-switch: 778px;
  --bottom-bar-switch: 992px;
  --bottom-bar-top-padding: 0px;
  --bottom-bg-color: #2b2d2b;
  --bottom-bg-image: none;
  --bottom-bg-position-x: center;
  --bottom-bg-position-y: top;
  --bottom-bg-repeat: repeat;
  --bottom-color: #7f7f7f;
  --bottom-content-padding: 0px;
  --bottom-input-border-width: 1px;
  --bottom-input-padding: 5px;
  --bottom-logo-bottom-padding: 0px;
  --bottom-logo-left-padding: 0px;
  --bottom-logo-right-padding: 0px;
  --bottom-logo-top-padding: 0px;
  --bottom-overlay-content-padding: 0px;
  --box-width: 1280px;
  --breadcrumbs-bg-color: #594492;
  --breadcrumbs-border-color: rgba(255, 255, 255, 0);
  --breadcrumbs-border-radius: 2px;
  --breadcrumbs-border-width: 0px;
  --breadcrumbs-font-family: "Mulish", Helvetica, Arial, Verdana,
    sans-serif;
  --breadcrumbs-font-size: 14px;
  --breadcrumbs-line-height: 20px;
  --breadcrumbs-margin-bottom: 10px;
  --breadcrumbs-margin-left: 0px;
  --breadcrumbs-margin-right: 0px;
  --breadcrumbs-margin-top: 10px;
  --breadcrumbs-padding-bottom: 0px;
  --breadcrumbs-padding-left: 0px;
  --breadcrumbs-padding-right: 0px;
  --breadcrumbs-padding-top: 0px;
  --breadcrumbs-text-transform: none;
  --btn-bg-color: #30a46c;
  --btn-border-color: #30a46c;
  --btn-border-hover-color: #18794e;
  --btn-color: #ffffff;
  --btn-hover-bg-color: #18794e;
  --btn-hover-color: #ffffff;
  --btn-l-border-radius: 2px;
  --btn-l-border-style: solid;
  --btn-l-border-width: 0px;
  --btn-l-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --btn-l-font-size: 14px;
  --btn-l-font-weight: 500;
  --btn-l-icon-size: 14px;
  --btn-l-letter-spacing: 0px;
  --btn-l-line-height: 1;
  --btn-l-min-height: 46px;
  --btn-l-min-width: 100px;
  --btn-l-padding: 8px 20px 8px 20px;
  --btn-l-text-transform: none;
  --btn-lg-border-radius: 2px;
  --btn-lg-border-style: solid;
  --btn-lg-border-width: 0px;
  --btn-lg-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --btn-lg-font-size: 16px;
  --btn-lg-font-weight: 500;
  --btn-lg-icon-size: 16px;
  --btn-lg-letter-spacing: 0px;
  --btn-lg-line-height: 1;
  --btn-lg-min-height: 52px;
  --btn-lg-min-width: 140px;
  --btn-lg-padding: 10px 24px 10px 24px;
  --btn-lg-text-transform: none;
  --btn-m-border-radius: 2px;
  --btn-m-border-style: solid;
  --btn-m-border-width: 0px;
  --btn-m-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --btn-m-font-size: 12px;
  --btn-m-font-weight: 500;
  --btn-m-icon-size: 12px;
  --btn-m-letter-spacing: 0px;
  --btn-m-line-height: 1;
  --btn-m-min-height: 32px;
  --btn-m-min-width: 80px;
  --btn-m-padding: 6px 14px 6px 14px;
  --btn-m-text-transform: none;
  --btn-s-border-radius: 2px;
  --btn-s-border-style: solid;
  --btn-s-border-width: 0px;
  --btn-s-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --btn-s-font-size: 10px;
  --btn-s-font-weight: 500;
  --btn-s-icon-size: 10px;
  --btn-s-letter-spacing: 0px;
  --btn-s-line-height: 1;
  --btn-s-min-height: 28px;
  --btn-s-min-width: 70px;
  --btn-s-padding: 4px 10px 4px 10px;
  --btn-s-text-transform: none;
  --btn-xl-border-radius: 2px;
  --btn-xl-border-style: solid;
  --btn-xl-border-width: 0px;
  --btn-xl-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --btn-xl-font-size: 18px;
  --btn-xl-font-weight: 500;
  --btn-xl-icon-size: 18px;
  --btn-xl-letter-spacing: 0px;
  --btn-xl-line-height: 1;
  --btn-xl-min-height: 60px;
  --btn-xl-min-width: 180px;
  --btn-xl-padding: 12px 30px 12px 30px;
  --btn-xl-text-transform: none;
  --button-shadow-blur: 10px;
  --button-shadow-color: rgba(0, 0, 0, 0);
  --button-shadow-horizontal: 0px;
  --button-shadow-hover-blur: 10px;
  --button-shadow-hover-color: rgba(0, 0, 0, 0);
  --button-shadow-hover-horizontal: 0px;
  --button-shadow-hover-spread: 0px;
  --button-shadow-hover-vertical: 0px;
  --button-shadow-spread: 0px;
  --button-shadow-vertical: 0px;
  --classic-menu-bottom-margin: 0px;
  --close-menu-caption-color-hover: #000000;
  --close-menu-caption-color: #000000;
  --close-menu-caption-font-family: "Roboto", Helvetica, Arial, Verdana,
    sans-serif;
  --close-menu-caption-font-size: 16px;
  --close-menu-caption-gap: 20px;
  --close-menu-caption-text-transform: uppercase;
  --close-mobile-menu-caption-font-family: "Roboto", Helvetica, Arial,
    Verdana, sans-serif;
  --close-mobile-menu-caption-font-size: 16px;
  --close-mobile-menu-caption-gap: 10px;
  --close-mobile-menu-caption-text-transform: none;
  --content-boxes-bg: #f5f5f5;
  --content-width: 1300px;
  --divider-bg-color: rgba(0, 0, 0, 0);
  --divider-color: rgba(0, 0, 0, 0.12);
  --filter-border-radius: 100px;
  --filter-decoration-line-size: 2px;
  --filter-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --filter-font-size: 15px;
  --filter-font-weight: 700;
  --filter-item-margin-bottom: 0px;
  --filter-item-margin-left: 15px;
  --filter-item-margin-right: 15px;
  --filter-item-margin-top: 0px;
  --filter-item-padding-bottom: 6px;
  --filter-item-padding-left: 0px;
  --filter-item-padding-right: 0px;
  --filter-item-padding-top: 6px;
  --filter-pointer-bg-radius: 100px;
  --filter-pointer-border-width: 2px;
  --filter-text-transform: none;
  --first-switch-header-padding-left: 30px;
  --first-switch-header-padding-right: 30px;
  --first-switch-mobile-header-height: 60px;
  --first-switch: 1050px;
  --float-menu-bg: #000000;
  --float-menu-height: 60px;
  --float-menu-line-decoration-color: rgba(51, 51, 51, 0.11);
  --float-menu-line-decoration-size: 1px;
  --floating-header-bg-image: none;
  --floating-header-bg-position-x: center;
  --floating-header-bg-position-y: center;
  --floating-header-bg-repeat: repeat;
  --floating-header-bg-size: auto;
  --floating-logo-bottom-padding: 0px;
  --floating-logo-left-padding: 0px;
  --floating-logo-right-padding: 0px;
  --floating-logo-top-padding: 0px;
  --floating-menu-active-last-color: #ffffff;
  --floating-menu-color-active: #ffffff;
  --floating-menu-color-hover: #ffffff;
  --floating-menu-color: #ffffff;
  --floating-menu-hover-last-color: #ffffff;
  --floating-mixed-logo-bottom-padding: 0px;
  --floating-mixed-logo-left-padding: 0px;
  --floating-mixed-logo-right-padding: 0px;
  --floating-mixed-logo-top-padding: 0px;
  --floating-mobile-logo-bottom-padding: 0px;
  --floating-mobile-logo-left-padding: 0px;
  --floating-mobile-logo-right-padding: 0px;
  --floating-mobile-logo-top-padding: 0px;
  --footer-bg-color: #2b2d2b;
  --footer-bg-image: none;
  --footer-bg-position-x: center;
  --footer-bg-position-y: top;
  --footer-bg-repeat: repeat;
  --footer-bottom-padding: 30px;
  --footer-decoration-line-size: 1px;
  --footer-left-padding: 40px;
  --footer-outline-color: rgba(129, 215, 66, 0.96);
  --footer-right-padding: 40px;
  --footer-switch-colums: 778px;
  --footer-switch: 778px;
  --footer-top-padding: 60px;
  --general-border-radius: 0px;
  --general-title-responsiveness: 778px;
  --h1-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --h1-font-size-desktop: 48px;
  --h1-font-size: 48px;
  --h1-font-weight: 600;
  --h1-line-height-desktop: 1.1em;
  --h1-line-height: 1.1em;
  --h1-text-transform: none;
  --h2-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --h2-font-size-desktop: 36px;
  --h2-font-size: 36px;
  --h2-font-weight: 600;
  --h2-line-height-desktop: 1.2em;
  --h2-line-height: 1.2em;
  --h2-text-transform: none;
  --h3-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --h3-font-size-desktop: 28px;
  --h3-font-size: 28px;
  --h3-font-weight: 600;
  --h3-line-height-desktop: 1.3em;
  --h3-line-height: 1.3em;
  --h3-text-transform: none;
  --h4-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --h4-font-size-desktop: 22px;
  --h4-font-size: 22px;
  --h4-font-weight: 600;
  --h4-line-height-desktop: 1.3em;
  --h4-line-height: 1.3em;
  --h4-text-transform: none;
  --h5-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --h5-font-size-desktop: 18px;
  --h5-font-size: 18px;
  --h5-font-weight: 600;
  --h5-line-height-desktop: 1.3em;
  --h5-line-height: 1.3em;
  --h5-text-transform: none;
  --h6-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --h6-font-size-desktop: 16px;
  --h6-font-size: 16px;
  --h6-font-weight: 600;
  --h6-line-height-desktop: 1.3em;
  --h6-line-height: 1.3em;
  --h6-text-transform: none;
  --hamburger-border-width: 0px;
  --hamburger-close-border-radius: 0px;
  --hamburger-close-border-width: 0px;
  --hamburger-mobile-close-border-radius: 0px;
  --hamburger-mobile-close-border-width: 0px;
  --header-bg-color: #000000;
  --header-bg-image: none;
  --header-bg-position-x: center;
  --header-bg-position-y: center;
  --header-bg-repeat: repeat;
  --header-bg-size: auto;
  --header-classic-menu-line-size: 1px;
  --header-decoration-size: 1px;
  --header-decoration: rgba(51, 51, 51, 0.11);
  --header-height: 90px;
  --header-left-padding: 30px;
  --header-mobile-left-padding: 30px;
  --header-mobile-menu-bottom-padding: 40px;
  --header-mobile-menu-left-padding: 40px;
  --header-mobile-menu-right-padding: 20px;
  --header-mobile-menu-top-padding: 40px;
  --header-mobile-right-padding: 30px;
  --header-right-padding: 30px;
  --header-side-content-width: 300px;
  --header-side-width: 300px;
  --header-slide-out-width: 400px;
  --header-switch-paddings: 1050px;
  --header-transparent-bg-color: #eeee22;
  --input-bg-color: #ffffff;
  --input-border-color: rgba(0, 0, 0, 0.12);
  --input-border-radius: 0px;
  --input-color: #7f7f7f;
  --input-height: 40px;
  --left-content-padding: 0px;
  --left-input-border-width: 1px;
  --left-input-padding: 15px;
  --left-overlay-content-padding: 0px;
  --lightbox-arrow-size: 64px;
  --links-color: #30a46c;
  --logo-area-left-padding-bottom: 0px;
  --logo-area-left-padding-left: 0px;
  --logo-area-left-padding-right: 0px;
  --logo-area-right-padding-bottom: 0px;
  --logo-area-right-padding-left: 0px;
  --logo-area-right-padding-right: 0px;
  --main-logo-bottom-padding: 28px;
  --main-logo-left-padding: 0px;
  --main-logo-right-padding: 0px;
  --main-logo-top-padding: 0px;
  --main-menu-icon-size: 16px;
  --mega-col-padding-bottom: 15px;
  --mega-col-padding-left: 15px;
  --mega-col-padding-right: 15px;
  --mega-col-padding-top: 15px;
  --mega-menu-desc-color: #222222;
  --mega-menu-desc-font-family: "Mulish", Helvetica, Arial, Verdana,
    sans-serif;
  --mega-menu-desc-font-size: 13px;
  --mega-menu-title-color: #222222;
  --mega-menu-title-font-family: "Mulish", Helvetica, Arial, Verdana,
    sans-serif;
  --mega-menu-title-font-size: 16px;
  --mega-menu-title-font-weight: 600;
  --mega-menu-title-icon-size: 24px;
  --mega-menu-title-text-transform: none;
  --mega-menu-widget-color: #222222;
  --mega-menu-widget-title-color: #222222;
  --mega-submenu-col-width: 200px;
  --mega-submenu-item-2-level-spacing: 0px;
  --mega-submenu-item-padding-bottom: 0px;
  --mega-submenu-item-padding-left: 0px;
  --mega-submenu-item-padding-right: 0px;
  --mega-submenu-item-padding-top: 0px;
  --mega-submenu-padding-bottom: 15px;
  --mega-submenu-padding-left: 15px;
  --mega-submenu-padding-right: 15px;
  --mega-submenu-padding-top: 15px;
  --megamenu-title-active-color: #30a46c;
  --megamenu-title-hover-color: #30a46c;
  --menu-active-color: #ffffff;
  --menu-active-decor-color: rgba(48, 164, 108, 0.15);
  --menu-active-last-color: #ffffff;
  --menu-active-line-decor-color: rgba(130, 36, 227, 0.3);
  --menu-area-below-padding-bottom: 0px;
  --menu-area-below-padding-left: 0px;
  --menu-area-below-padding-right: 0px;
  --menu-area-left-padding-bottom: 0px;
  --menu-area-left-padding-left: 0px;
  --menu-area-left-padding-right: 0px;
  --menu-area-right-padding-bottom: 0px;
  --menu-area-right-padding-left: 30px;
  --menu-area-right-padding-right: 0px;
  --menu-area-right-padding-top: 0px;
  --menu-area-top-line-padding-bottom: 0px;
  --menu-area-top-line-padding-left: 0px;
  --menu-area-top-line-padding-right: 0px;
  --menu-area-top-line-right-padding-bottom: 0px;
  --menu-area-top-line-right-padding-left: 0px;
  --menu-area-top-line-right-padding-right: 0px;
  --menu-caption-font-family: "Roboto", Helvetica, Arial, Verdana,
    sans-serif;
  --menu-caption-font-size: 16px;
  --menu-caption-gap: 10px;
  --menu-caption-text-transform: none;
  --menu-click-decor-bg-color: rgba(48, 164, 108, 0);
  --menu-color: #ffffff;
  --menu-decor-border-radius: 3px;
  --menu-decor-color: #30a46c;
  --menu-decoration-line-size: 2px;
  --menu-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --menu-font-size: 16px;
  --menu-font-weight: 600;
  --menu-hover-color: #ffffff;
  --menu-hover-decor-color-2: 135deg, rgba(255, 255, 255, 0.23) 30%,
    rgba(0, 0, 0, 0.23) 100%;
  --menu-hover-decor-color: rgba(255, 255, 255, 0.23);
  --menu-hover-last-color: #ffffff;
  --menu-item-divider-width: 1px;
  --menu-item-margin-bottom: 18px;
  --menu-item-margin-left: 14px;
  --menu-item-margin-right: 14px;
  --menu-item-margin-top: 18px;
  --menu-item-padding-bottom: 4px;
  --menu-item-padding-left: 4px;
  --menu-item-padding-right: 4px;
  --menu-item-padding-top: 4px;
  --menu-line-decor-color-2: left, rgba(255, 255, 255, 0.23) 30%,
    rgba(0, 0, 0, 0.23) 100%;
  --menu-line-decor-color: rgba(255, 255, 255, 0.23);
  --menu-tem-divider-color: rgba(17, 17, 17, 0.14);
  --menu-tem-divider-height: 24px;
  --menu-text-transform: none;
  --message-color: #ffffff;
  --microwidget-button-2-bg: #30a46c;
  --microwidget-button-2-border-color: #30a46c;
  --microwidget-button-2-border-radius: 0px;
  --microwidget-button-2-border-width: 1px;
  --microwidget-button-2-bottom-padding: 10px;
  --microwidget-button-2-color: #ffffff;
  --microwidget-button-2-font-family: "Roboto", Helvetica, Arial, Verdana,
    sans-serif;
  --microwidget-button-2-font-size: 14px;
  --microwidget-button-2-font-weight: 700;
  --microwidget-button-2-hover-bg: #30a46c;
  --microwidget-button-2-hover-border-color: #30a46c;
  --microwidget-button-2-hover-color: #ffffff;
  --microwidget-button-2-icon-gap: 5px;
  --microwidget-button-2-icon-size: 14px;
  --microwidget-button-2-left-padding: 20px;
  --microwidget-button-2-right-padding: 20px;
  --microwidget-button-2-top-padding: 10px;
  --microwidget-button-bg: #30a46c;
  --microwidget-button-border-color: #30a46c;
  --microwidget-button-border-radius: 0px;
  --microwidget-button-border-width: 1px;
  --microwidget-button-bottom-padding: 10px;
  --microwidget-button-color: #ffffff;
  --microwidget-button-font-family: "Roboto", Helvetica, Arial, Verdana,
    sans-serif;
  --microwidget-button-font-size: 14px;
  --microwidget-button-font-weight: 700;
  --microwidget-button-hover-bg: #30a46c;
  --microwidget-button-hover-border-color: #30a46c;
  --microwidget-button-hover-color: #ffffff;
  --microwidget-button-icon-gap: 5px;
  --microwidget-button-icon-size: 14px;
  --microwidget-button-left-padding: 20px;
  --microwidget-button-right-padding: 20px;
  --microwidget-button-top-padding: 10px;
  --microwidgets-in-top-line-color: #888888;
  --microwidgets-in-top-line-font-family: "Open Sans", Helvetica, Arial,
    Verdana, sans-serif;
  --microwidgets-in-top-line-font-size: 20px;
  --microwidgets-in-top-line-icon-color: #888888;
  --microwidgets-in-top-line-icon-size: 16px;
  --mixed-logo-bottom-padding: 0px;
  --mixed-logo-left-padding: 0px;
  --mixed-logo-right-padding: 0px;
  --mixed-logo-top-padding: 0px;
  --mobile-floating-header-bg-color: #000000;
  --mobile-footer-bottom-padding: 10px;
  --mobile-footer-left-padding: 20px;
  --mobile-footer-right-padding: 20px;
  --mobile-footer-top-padding: 40px;
  --mobile-hamburger-border-width: 0px;
  --mobile-header-bg-color: #000000;
  --mobile-header-decoration-color: #ffffff;
  --mobile-header-decoration-size: 1px;
  --mobile-logo-bottom-padding: 0px;
  --mobile-logo-left-padding: 0px;
  --mobile-logo-right-padding: 0px;
  --mobile-logo-top-padding: 0px;
  --mobile-menu-active-color: #30a46c;
  --mobile-menu-bg-color: #ffffff;
  --mobile-menu-caption-font-family: "Mulish", Helvetica, Arial, Verdana,
    sans-serif;
  --mobile-menu-caption-font-size: 14px;
  --mobile-menu-caption-gap: 10px;
  --mobile-menu-caption-text-transform: none;
  --mobile-menu-color: #222222;
  --mobile-menu-divider-color: rgba(51, 51, 51, 0.12);
  --mobile-menu-divider-height: 1px;
  --mobile-menu-font-family: "Mulish", Helvetica, Arial, Verdana,
    sans-serif;
  --mobile-menu-font-size: 16px;
  --mobile-menu-font-weight: 600;
  --mobile-menu-hover-color: #30a46c;
  --mobile-menu-microwidgets-color: #222222;
  --mobile-menu-microwidgets-font-family: "Mulish", Helvetica, Arial,
    Verdana, sans-serif;
  --mobile-menu-microwidgets-font-size: 14px;
  --mobile-menu-microwidgets-font-weight: 600;
  --mobile-menu-microwidgets-icon-color: #30a46c;
  --mobile-menu-microwidgets-icon-size: 16px;
  --mobile-menu-text-transform: none;
  --mobile-menu-width: 300px;
  --mobile-microwidgets-color: #ffffff;
  --mobile-microwidgets-font-family: "Mulish", Helvetica, Arial, Verdana,
    sans-serif;
  --mobile-microwidgets-font-size: 14px;
  --mobile-microwidgets-font-weight: 600;
  --mobile-microwidgets-icon-color: #30a46c;
  --mobile-microwidgets-icon-size: 16px;
  --mobile-overlay-bg-color: rgba(17, 17, 17, 0.5);
  --mobile-page-bottom-margin: 0px;
  --mobile-page-left-margin: 0px;
  --mobile-page-right-margin: 0px;
  --mobile-page-top-margin: 0px;
  --mobile-sub-menu-font-family: "Mulish", Helvetica, Arial, Verdana,
    sans-serif;
  --mobile-sub-menu-font-size: 16px;
  --mobile-sub-menu-text-transform: none;
  --mobile-toggle-menu-border-radius: 3px;
  --mobile-toggle-menu-color: #ffffff;
  --mw-address-icon-size: 16px;
  --mw-clock-icon-size: 16px;
  --mw-email-icon-size: 16px;
  --mw-login-icon-size: 16px;
  --mw-phone-icon-size: 16px;
  --mw-search-bg-active-width: 200px;
  --mw-search-bg-color: rgba(180, 170, 147, 0.26);
  --mw-search-bg-height: 24px;
  --mw-search-bg-width: 150px;
  --mw-search-border-color: #ffffff;
  --mw-search-border-radius: 3px;
  --mw-search-border-width: 0px;
  --mw-search-color: #b4aa93;
  --mw-search-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --mw-search-font-size: 12px;
  --mw-search-icon-size: 12px;
  --mw-search-left-padding: 9px;
  --mw-search-overlay-bg: rgba(0, 0, 0, 0.9);
  --mw-search-right-padding: 9px;
  --mw-skype-icon-size: 16px;
  --mw-woocommerce-cart-icon-size: 16px;
  --navigation-bg-color: #000000;
  --navigation-line-bg: #ffffff;
  --navigation-line-decoration-color: #dd9933;
  --navigation-line-decoration-line-size: 1px;
  --navigation-line-sticky-bg: #000000;
  --navigation-margin: 40px;
  --outside-item-custom-margin: 30px;
  --page-bg-color: #ffffff;
  --page-bg-image: none;
  --page-bg-position-x: center;
  --page-bg-position-y: top;
  --page-bg-repeat: repeat;
  --page-bg-size: auto;
  --page-bottom-margin: 0px;
  --page-left-margin: 0px;
  --page-responsive-title-height: 0px;
  --page-responsive-title-line-height: 34px;
  --page-right-margin: 0px;
  --page-title-bg-color: #f5f5f5;
  --page-title-bg-image: none;
  --page-title-bg-position-x: center;
  --page-title-bg-position-y: center;
  --page-title-bg-repeat: repeat;
  --page-title-bg-size: auto auto;
  --page-title-border-height: 10px;
  --page-title-border-style: solid;
  --page-title-bottom-padding: 50px;
  --page-title-breadcrumbs-color: #5fb47c;
  --page-title-color: #333333;
  --page-title-decorative-line-height: 6px;
  --page-title-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --page-title-font-weight: 800;
  --page-title-height: 220px;
  --page-title-line-color: rgba(51, 51, 51, 0.11);
  --page-title-line-height: 40px;
  --page-title-line-style: double;
  --page-title-overlay-color: rgba(0, 0, 0, 0.5);
  --page-title-text-transform: none;
  --page-title-top-padding: 50px;
  --page-top-margin: 0px;
  --project-rollover-bg-color: rgba(255, 255, 255, 0.2);
  --right-content-padding: 0px;
  --right-input-border-width: 1px;
  --right-input-padding: 15px;
  --right-overlay-content-padding: 0px;
  --rollover-bg-color: rgba(255, 255, 255, 0.2);
  --second-switch-header-padding-left: 30px;
  --second-switch-header-padding-right: 30px;
  --second-switch-mobile-header-height: 60px;
  --second-switch: 778px;
  --secondary-text-color: #999999;
  --side-header-h-stroke-height: 130px;
  --side-header-v-stroke-width: 60px;
  --sidebar-distace-to-content: 60px;
  --sidebar-outline-color: rgba(0, 0, 0, 0.06);
  --sidebar-responsiveness: 992px;
  --sidebar-width: 300px;
  --soc-ico-hover-color: #ffffff;
  --soc-icons-bg-size: 24px;
  --soc-icons-border-radius: 2px;
  --soc-icons-border-width: 0px;
  --soc-icons-gap: 6px;
  --soc-icons-size: 16px;
  --sticky-header-overlay-bg: rgba(17, 17, 17, 0.4);
  --sub-menu-icon-size: 16px;
  --sub-subtitle-font-family: "Mulish", Helvetica, Arial, Verdana,
    sans-serif;
  --sub-subtitle-font-size: 10px;
  --submenu-active-bg: rgba(48, 164, 108, 0.07);
  --submenu-active-color: #30a46c;
  --submenu-bg-color: #ffffff;
  --submenu-color: #222222;
  --submenu-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --submenu-font-size: 15px;
  --submenu-hover-bg: rgba(48, 164, 108, 0.07);
  --submenu-hover-color: #30a46c;
  --submenu-item-margin-bottom: 2px;
  --submenu-item-margin-left: 0px;
  --submenu-item-margin-right: 0px;
  --submenu-item-margin-top: 0px;
  --submenu-item-padding-bottom: 10px;
  --submenu-item-padding-left: 10px;
  --submenu-item-padding-right: 10px;
  --submenu-item-padding-top: 10px;
  --submenu-padding-bottom: 9px;
  --submenu-padding-left: 10px;
  --submenu-padding-right: 10px;
  --submenu-padding-top: 9px;
  --submenu-text-transform: none;
  --submenu-width: 280px;
  --subtitle-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --subtitle-font-size: 11px;
  --switch-content-paddings: 778px;
  --text-big-font-size: 16px;
  --text-big-line-height: 1.6em;
  --text-small-font-size: 14px;
  --text-small-line-height: 1.5em;
  --title-color: #222222;
  --title-font-size: 34px;
  --title-outline-color: rgba(30, 115, 190, 0);
  --title-responsive-font-size: 24px;
  --toggle-menu-bg-color-hover: rgba(255, 255, 255, 0.75);
  --toggle-menu-bg-color: rgba(255, 255, 255, 0.75);
  --toggle-menu-border-radius: 0px;
  --toggle-menu-bottom-margin: 0px;
  --toggle-menu-caption-color-hover: #000000;
  --toggle-menu-caption-color: #000000;
  --toggle-menu-caption-padding-bottom: 18px;
  --toggle-menu-caption-padding-left: 15px;
  --toggle-menu-caption-padding-right: 15px;
  --toggle-menu-caption-padding-top: 18px;
  --toggle-menu-close-bg-color: rgba(255, 255, 255, 0.75);
  --toggle-menu-close-bottom-margin: 30px;
  --toggle-menu-close-color: #000000;
  --toggle-menu-close-left-margin: 30px;
  --toggle-menu-close-padding-bottom: 15px;
  --toggle-menu-close-padding-left: 15px;
  --toggle-menu-close-padding-right: 15px;
  --toggle-menu-close-padding-top: 15px;
  --toggle-menu-close-right-margin: 30px;
  --toggle-menu-close-top-margin: 30px;
  --toggle-menu-color-hover: #000000;
  --toggle-menu-color: #000000;
  --toggle-menu-hover-bg-color: rgba(255, 255, 255, 0.75);
  --toggle-menu-hover-color: #000000;
  --toggle-menu-left-margin: 0px;
  --toggle-menu-right-margin: 0px;
  --toggle-menu-top-margin: 0px;
  --toggle-mobile-margin-bottom: 0px;
  --toggle-mobile-margin-left: 0px;
  --toggle-mobile-margin-right: 0px;
  --toggle-mobile-margin-top: 0px;
  --toggle-mobile-menu-caption-color: #ffffff;
  --toggle-mobile-menu-close-bottom-margin: 0px;
  --toggle-mobile-menu-close-left-margin: 0px;
  --toggle-mobile-menu-close-padding-bottom: 0px;
  --toggle-mobile-menu-close-padding-left: 0px;
  --toggle-mobile-menu-close-padding-right: 0px;
  --toggle-mobile-menu-close-padding-top: 0px;
  --toggle-mobile-menu-close-right-margin: 10px;
  --toggle-mobile-menu-close-top-margin: 25px;
  --toggle-mobile-padding-bottom: 0px;
  --toggle-mobile-padding-left: 0px;
  --toggle-mobile-padding-right: 0px;
  --toggle-mobile-padding-top: 0px;
  --top-bar-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --top-bar-font-size: 14px;
  --top-bar-font-weight: 600;
  --top-bar-height: 36px;
  --top-bar-icon-color: #30a46c;
  --top-bar-icon-size: 16px;
  --top-bar-line-color: rgba(255, 255, 255, 0.12);
  --top-bar-line-size: 1px;
  --top-bar-line-style: solid;
  --top-bar-mobile-padding-bottom: 10px;
  --top-bar-mobile-padding-left: 30px;
  --top-bar-mobile-padding-right: 30px;
  --top-bar-mobile-padding-top: 10px;
  --top-bar-padding-bottom: 10px;
  --top-bar-padding-left: 30px;
  --top-bar-padding-right: 30px;
  --top-bar-padding-top: 10px;
  --top-bar-switch-paddings: 1050px;
  --top-bar-text-transform: none;
  --top-bar-transparent-bg-color: rgba(0, 0, 0, 0.5);
  --top-bg-color: #000000;
  --top-bg-image: none;
  --top-bg-position-x: center;
  --top-bg-position-y: center;
  --top-bg-repeat: repeat;
  --top-color: #ffffff;
  --top-icons-bg-color-hover: #18794e;
  --top-icons-bg-color: #30a46c;
  --top-icons-border-color-hover: #18794e;
  --top-icons-border-color: #30a46c;
  --top-icons-color: #ffffff;
  --top-input-border-width: 1px;
  --top-input-padding: 5px;
  --top-overlay-content-padding: 0px;
  --transparent-logo-bottom-padding: 28px;
  --transparent-logo-left-padding: 0px;
  --transparent-logo-right-padding: 0px;
  --transparent-logo-top-padding: 0px;
  --transparent-mixed-logo-bottom-padding: 0px;
  --transparent-mixed-logo-left-padding: 0px;
  --transparent-mixed-logo-right-padding: 0px;
  --transparent-mixed-logo-top-padding: 0px;
  --transparent-mobile-logo-bottom-padding: 0px;
  --transparent-mobile-logo-left-padding: 0px;
  --transparent-mobile-logo-right-padding: 0px;
  --transparent-mobile-logo-top-padding: 0px;
  --wc-grid-product-gap: 0px;
  --wc-grid-product-min-width: 0px;
  --widget-content-font-family: "Mulish", Helvetica, Arial, Verdana,
    sans-serif;
  --widget-content-font-size-desktop: 14px;
  --widget-content-font-size: 14px;
  --widget-content-line-height-desktop: 1.3em;
  --widget-content-line-height: 1.3em;
  --widget-content-text-transform: none;
  --widget-footer-color: #9a9e9b;
  --widget-footer-header-color: #ffffff;
  --widget-footer-padding: 30px;
  --widget-gap: 15px;
  --widget-sidebar-bg-color: #f7f7f8;
  --widget-sidebar-bg-image: none;
  --widget-sidebar-bg-position-x: center;
  --widget-sidebar-bg-position-y: center;
  --widget-sidebar-bg-repeat: repeat;
  --widget-sidebar-color: #7f7f7f;
  --widget-sidebar-distace: 50px;
  --widget-sidebar-header-color: #333333;
  --widget-title-font-family: "Mulish", Helvetica, Arial, Verdana,
    sans-serif;
  --widget-title-font-size-desktop: 16px;
  --widget-title-font-size: 16px;
  --widget-title-font-weight: 600;
  --widget-title-line-height-desktop: 1.3em;
  --widget-title-line-height: 1.3em;
  --widget-title-text-transform: none;
  --woo-content-font-family: "Mulish", Helvetica, Arial, Verdana,
    sans-serif;
  --woo-content-font-size-desktop: 16px;
  --woo-content-font-size: 16px;
  --woo-content-line-height-desktop: 28px;
  --woo-content-line-height: 28px;
  --woo-content-text-transform: none;
  --woo-title-font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
  --woo-title-font-size-desktop: 16px;
  --woo-title-font-size: 16px;
  --woo-title-font-weight: 700;
  --woo-title-line-height-desktop: 26px;
  --woo-title-line-height: 26px;
  --woo-title-text-transform: none;
}
@media screen and (max-width: 1049px) {
  :root {
    --h1-font-size: 40px;
  }
}
@media screen and (max-width: 777px) {
  :root {
    --h1-font-size: 30px;
    --h2-font-size: 30px;
    --h3-font-size: 24px;
  }
}
