/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: ;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: ; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: #30a46c;
    --first-color-second: #18794e;
    --title-color: #222222;
    --text-color: #666666;
    --text-color-light: #ffffff;
    --body-bg-color: #f5f5f5;
    --bottom-bg-color: #2b2d2b;
    --bottom-color: #7f7f7f;
    --btn-bg-color: #30a46c;
    --btn-border-color: #30a46c;
    --btn-border-hover-color: #18794e;
    --btn-color: #ffffff;
    --btn-hover-bg-color: #18794e;
    --btn-hover-color: #ffffff;
    --footer-bg-color: #2b2d2b;
    --header-bg-color: #000000;
    --input-bg-color: #ffffff;
    --input-border-color: rgba(0, 0, 0, 0.12);
    --input-color: #7f7f7f;
    --links-color: #30a46c;
    --mega-menu-title-color: #222222;
    --megamenu-title-active-color: #30a46c;
    --megamenu-title-hover-color: #30a46c;
    --mobile-header-bg-color: #000000;
    --mobile-menu-active-color: #30a46c;
    --mobile-menu-bg-color: #ffffff;
    --mobile-menu-color: #222222;
    --mobile-menu-hover-color: #30a46c;

    /*========== Font and typography ==========*/
    --body-font: 'Mulish', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --h1-font-size: 48px;
    --h2-font-size: 36px;
    --h3-font-size: 28px;
    --h4-font-size: 22px;
    --h5-font-size: 18px;
    --h6-font-size: 16px;
    --title-font-size: 34px;
    --text-small-font-size: 14px;
    --text-big-font-size: 16px;
    --subtitle-font-size: 11px;
    --mobile-sub-menu-font-size: 16px;
    --mobile-menu-font-size: 16px;
    --mobile-menu-caption-font-size: 14px;
    --menu-font-size: 16px;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-super-bold: 700;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: ;
    --z-fixed: ;
    --z-modal: ;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 48px;
        --h2-font-size: 36px;
        --h3-font-size: 28px;
        --h4-font-size: 22px;
        --h5-font-size: 18px;
        --h6-font-size: 16px;
        --title-font-size: 34px;
        --text-small-font-size: 14px;
        --text-big-font-size: 16px;
        --subtitle-font-size: 11px;
        --mobile-sub-menu-font-size: 16px;
        --mobile-menu-font-size: 16px;
        --mobile-menu-caption-font-size: 14px;
        --menu-font-size: 16px;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
    font-family: var(--body-font);
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ==========  REUSABLE CSS CLASSES ========== */
.section {
    padding: 2rem 0 4rem;
}

.section_title {
    font-size: var(--h1-font-size);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
    text-align: center;
}

/*==================== REUSABLE CSS CLASSES ====================*/


/*==================== LAYOUT ====================*/


/*==================== NAV ====================*/

#navbar {
    background-color: #000;
    color: #fff;
}

.navb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav_logo {
    font-size: var(--h4-font-size);
}

.nav_open {
    font-size: 20px;
    transition: .3s;
    font-weight: 400;
    cursor: pointer;
}
.nav_open:hover {
    color: var(--first-color);
}

@media screen and (max-width:768px) {
    .nav_menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 287px;
        background: #fff;
        overflow: hidden;
        z-index: 1000;
        padding: 40px 20px 40px 40px;
        transition: .5s;
    }
}

.nav_item {
    padding: 10.4px 25px 10.4px 0;
    transition: .3s;
    cursor: pointer;
}

.nav_item a {
    color: var(--mobile-menu-color);
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 600;
    font-stretch: normal;
    font-size: 16px;
    line-height: 20px;
    font-family: "Mulish", Helvetica, Arial, Verdana, sans-serif;
}

.nav_item:hover a {
    color: var(--first-color);
}

.nav_bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(17,17,17,.5);
    transition: .5s;
    opacity: 0;
}

.nav_close {
    position: absolute;
    color: var(--first-color);
    transition: .3s;
    top: 25px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
}

.nav_number span {
    display: inline-block;
    font: 600 15px/18px "Mulish",Helvetica,Arial,Verdana,sans-serif;
    color: var(--title-color);
    margin: 5px 20px 5px 0;
}

.nav_info {
    padding: 25px 0;
}

.nav_info_social {
    display: flex;
    align-items: center;
    margin: 5px 20px 5px 0;
}

.nav_info_social_icon:first-child {
    margin-left: 0;
}

.nav_info_social_icon {
    width: 24px;
    height: 24px;
    margin: 0 3px;
    line-height: 24px;
    border-radius: 2px;
    background: var(--first-color);
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.nav_info_social_icon:hover {
    color: var(--text-color-light);
    background: var(--first-color-second);
}

/* show menu */
.nav_bg.show_menu {
    opacity: 1;
    z-index: 999;
}

.nav_menu.show_menu {
    right: 0;
}

/* Active link */


/* Change background header */


/*==================== HOME ====================*/


/*==================== BUTTONS ====================*/


/*==================== ABOUT ====================*/


/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */